<div class="container" *ngIf="user">
  <div class="userInfo">
    <div class="user-image">
      <img
        src="https://lh3.googleusercontent.com/_JN5TdAxJpwLrMp5jHr6r1SNX3dlgls57rQHSX87mUQyZFeWlzvIEvX7a_3_McQ1Jc1M1g=s85"
        alt="User Image" />
    </div>
    <div class="infos">
      <div class="personalInfo">
        <h5>Personal Information:</h5>
        <span>Name: {{ user.name }}</span><br />
        <span>Address: {{ user.personalInfo[0].address }}</span><br />
        <span>Mobile: {{ user.personalInfo[0].mobile }}</span><br />
      </div>
      <div class="educationInfo">
        <h5>Education Information:</h5>
        <span>High School: {{ user.educationInfo[0].highSchool }}</span><br />
        <span>University: {{ user.educationInfo[0].university }}</span><br />
      </div>
      <div class="professionInfo">
        <h5>Profession Information:</h5>
        <span>Work Experience: {{ user.professionInfo[0].workExperience }}</span><br />
        <span>Previous Employer:
          {{ user.professionInfo[0].previousEmployer }}</span><br />
        <span>Previous Job: {{ user.professionInfo[0].previousJob }}</span><br />
      </div>
    </div>
    <br />
    <button class="btn btn-delete" (click)="deleteUser()">Delete User</button>
  </div>
  <div class="updateInfo">
    <div class="updateInfo-content">
      <h3>Update Information</h3>
      <form action="" #updateUserForm="ngForm" (submit)="updateUser(updateUserForm)">
        <h4 *ngIf="invalid" class="" style="color: rgb(216, 133, 8); text-align: center;">Please Fill All The Field</h4>

        <div class="form-group">
          <input type="text" placeholder="ID" name="id" [ngModel]="uUser.id" required #id="ngModel" />
          <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
            <div *ngIf="id.errors.required">
              *ID is required.
            </div>
          </div>
          <input type="text" placeholder="Name" name="name" [ngModel]="uUser.name" required minlength="3"
            #name="ngModel" />
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required || name.errors.minlength">
              *Name is required. <br>
              *Minimum length is 3.
            </div>
          </div>/>
        </div>

        <div class="form-group">
          <input type="text" placeholder="Address" name="address" [ngModel]="uUser.personalInfo[0].address" required
            #address="ngModel" />
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">
            <div *ngIf="address.errors.required">
              *Address is required.
            </div>
          </div>
          <input type="text" placeholder="Mobile" name="mobile" [ngModel]="uUser.personalInfo[0].mobile" required
            minlength="11" maxlength="11" #mobile="ngModel" />
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="alert alert-danger">
            <div *ngIf="mobile.errors.required || mobile.errors.minlength || mobile.errors.maxlength">
              *Mobile is required. <br>
              *Lengh should be exactly 11.
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="High School" name="highSchool" [ngModel]="uUser.educationInfo[0].highSchool"
            required #highSchool="ngModel" />
          <div *ngIf="highSchool.invalid && (highSchool.dirty || highSchool.touched)" class="alert alert-danger">
            <div *ngIf="highSchool.errors.required">
              *High School is required.
            </div>
          </div>

          <input type="text" placeholder="University" name="university" [ngModel]="uUser.educationInfo[0].university"
            required #university="ngModel" />
          <div *ngIf="university.invalid && (university.dirty || university.touched)" class="alert alert-danger">
            <div *ngIf="university.errors.required">
              *University is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="Work Experience" name="workExperience"
            [ngModel]="uUser.professionInfo[0].workExperience" required #workExperience="ngModel" />
          <div *ngIf="workExperience.invalid && (workExperience.dirty || workExperience.touched)"
            class="alert alert-danger">
            <div *ngIf="workExperience.errors.required">
              *Work Experience is required.
            </div>
          </div>

          <input type="text" placeholder="Previous Employer" name="previousEmployer"
            [ngModel]="uUser.professionInfo[0].previousEmployer" required #previousEmployer="ngModel" />
          <div *ngIf=" previousEmployer.invalid && (previousEmployer.dirty || previousEmployer.touched)"
            class="alert alert-danger">
            <div *ngIf="previousEmployer.errors.required">
              *Previous Employer is required.
            </div>
          </div>
          <input class="pre-job" type="text" placeholder="Previous Job" name="previousJob"
            [ngModel]="uUser.professionInfo[0].previousJob" required #previousJob="ngModel" />
          <div *ngIf="
          previousJob.invalid && (previousJob.dirty || previousJob.touched)
        " class="alert alert-danger">
            <div *ngIf="previousJob.errors.required">
              *Previous Job is required.
            </div>
          </div>
        </div>

        <button class="btn btn-update" type="submit">
          Update
        </button>
        <!-- <input type="submit" value="Update"> -->
      </form>
    </div>
  </div>
</div>

<div [class.userDeleted]="userDelete" style="display: none;">
  USER DELETED
</div>
